.page-title{ 
    border-bottom: 5px solid #e2e2e2;
}
.page-title .back__btn { 
    margin-right: 8px;
    color: #3e3e3e;
    font-size: 13px;
}
.page-title > .title {    
    font-family: cubeFont-bold;
    font-size: 18px;
    font-weight: bold;
    color: #3e3e3e;
    padding: 14px;
    margin-bottom: 0px;
}

.cart__tab .nav-item { 
    flex: 1;
    text-align: center;
}

.content{  
    background: #fff;
    padding: 14px;
}

.cartlist  { 
    padding-bottom: 40px;
}
.cartlist .cartlist__item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #dee2e6;
}
.cartlist .cartlist__item:last-child{
    border-bottom: none;
}

.cartlist .cartlist__item .cartlist__header {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
}
.cartlist .cartlist__item .cartlist__header .title{ 
    color: #707070;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}
.cartlist .cartlist__item .cartlist__header .desc,.cartlist .cartlist__item .desc{ 
    color: #a9a9a9;
    font-size: 14px;
}
.cartlist .cartlist__item .cartlist__header .btn__remove{ 
    cursor: pointer;
}
.cartlist .cartlist__item .cartlist__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cartlist .cartlist__item .cartlist__footer .price{ 
    font-family: cubeFont-bold;
    font-size: 18px;
    color: #3D6A40;
}

.cartlist .cartlist__item .cartlist__footer .morerequest{ 
    font-size: 12px;
}


.badge.pending { 
    color: #FFA800;
    background-color: #FFF4DE;
}

.badge.fail { 
    color: #F64E60;
    background-color: #FFE2E5;
}

.badge.success { 
    color: #1BC5BD;
    background-color: #C9F7F5;
}