.pure-material-radio {
    z-index: 0;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 10px
}

/* Input */
.pure-material-radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #77ac7f;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Circle */
.pure-material-radio > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px; /* Safari */
    border-color: #707070;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
}

/* Check */
.pure-material-radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #77ac7f;
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
}

/* Checked */
.pure-material-radio > input:checked {
    background-color: #77ac7f;
}

.pure-material-radio > input:checked + span::before {
    border-color: #77ac7f;
}

.pure-material-radio > input:checked + span::after {
    transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.pure-material-radio:hover > input {
    opacity: 0.04;
}

.pure-material-radio > input:focus {
    opacity: 0.12;
}

.pure-material-radio:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-radio > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-radio > input:active + span::before {
    border-color: #77ac7f;
}

/* Disabled */
.pure-material-radio > input:disabled {
    opacity: 0;
}

.pure-material-radio > input:disabled + span {
    color: #77ac7f;
    cursor: initial;
}

.pure-material-radio > input:disabled + span::before {
    border-color: #77ac7f;
}

.pure-material-radio > input:disabled + span::after {
    background-color: #77ac7f;
}


/*custom-input-number*/
.custom-input-number input[type="number"]::-webkit-inner-spin-button,
.custom-input-number input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input-number {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    float: left;
}

.cin-btn {
    background: transparent;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    background: transparent;
    font-size: 13px;
    font-family: cubeFont-light;
    font-weight: lighter;
    color: #5f5f5f;
    display: block;
    margin: 0 auto;
    height: 1rem;
    width: 1rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.cin-btn-1 {
    display: inline-block;
}
.cin-btn-small {
    height: 1.5rem;
    width: 1.5rem;
}
.cin-btn-md {
    height: 2.5rem;
    width: 2.5rem;
}
.cin-btn:active {
    background: #77ac7f;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.cin-btn:focus {
    outline: none;
}
.cin-input {
    border: 0;
    box-shadow: inset 0 0 0 rgba(64, 150, 255, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    margin: 1rem 0;
    font-size: 22px;
    pointer-events: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
